/* AdminPage CSS */

.carousel-container {
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the carousel container */
  padding: 20px; /* Add padding around the carousel */
}

/* Card CSS */
.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card img {
  width: 100%; /* Make sure the image fills the container */
  border-radius: 8px 8px 0 0; /* Rounded corners for the top */
}

.card h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.card p {
  margin: 0.5rem 0;
}

.card button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #0056b3;
}

/* Adjust card layout for smaller screens */
@media screen and (max-width: 768px) {
  .card {
    padding: 15px;
  }
}
